In [6]:
notes = 5
i = 1
j = 1
while i < notes:
    print(i)
    i +=1
else:
    while i< 2:
        print(j)
        j +=1
    print("no ten rupees notes available")

1
2
3
4
no ten rupees notes available

In [7]:
s = "sam"
print(s[2])

m

In [20]:
 n = int(input("Enter integer"))
for i in range(n+1):
    for j in range(i,n):
        print("s",end = " ")
    print()

Enter integer3
s s s
s s
s

In [23]:
n = int(input("Enter integer"))
i = 0

Enter integer4

In [38]:
s = "sam"
s.center(20,'#')

'########sam#########'

In [26]:
s.find('v')

-1

In [36]:
s = "my name is samreen, name of rg is ineuron"
b = s.find("name")
for i in range(4):
    print(b+i)

3
4
5
6

In [39]:
a = "we all are a par fsds"
a.lower()

'we all are a par fsds'

In [52]:
a.count('a')
a.replace('a','ineuron')

'we ineuronll ineuronre ineuron pineuronr fsds'

In [55]:
a = "we all are a par fsds"
# s = a.find('a');s
for i in range(len(a)):
    if a[i] == 'a':
        print(i)

3
7
11
14

In [57]:
a.split()

['we', 'all', 'are', 'a', 'par', 'fsds']

In [59]:
c = len(a)-1
while c >= 0:
    print(a[c])
    c -=1

s
d
s
f

r
a
p

a

e
r
a

l
l
a

e
w

In [62]:
a = "samreen"
v = "AaEeIiOoUu"
for i in a:
    if i in v:
        print("{} is vowel".format(i))
    else:
        print("{} is not vowel".format(i))

s is not vowel
a is vowel
m is not vowel
r is not vowel
e is vowel
e is vowel
n is not vowel

In [5]:
a = "samreen"
v = "AaEeIiOoUu"
for i in a:
    if i in v:
        print(i)

a
e
e

In [4]:
'{} name {} sam'.format('my','is')

'my name is sam'

In [8]:
l=[1,2,3,6,5,9,8,6,5]
for i in enumerate(l):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 6)
(4, 5)
(5, 9)
(6, 8)
(7, 6)
(8, 5)

In [10]:
[i for i in enumerate(l)]

[(0, 1), (1, 2), (2, 3), (3, 6), (4, 5), (5, 9), (6, 8), (7, 6), (8, 5)]

In [22]:
mat =[]
for i in range(3):
    mat.append([])
    for j in range(3):
        mat[i].append(j)
print(mat)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [27]:
[[j for j in range(3)] for i in range(3) if i % 2==0]

[[0, 1, 2], [0, 1, 2]]

In [31]:
[i for i in range(10) if i%6 == 0]

[0, 6]

In [32]:
t1 = 34
del(t1)

In [73]:
l = { i:i*i for i in range(10)}

In [74]:
l

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [51]:
def k():
    for i in enumerate('dfjgnjh'):
        pass
    return i
k()

(6, 'h')

In [54]:
60*60*60

216000

In [55]:
216000*12

2592000

In [56]:
type(print())

NoneType

In [71]:
def test(*args):
    l = []
    for i in args:
        l = l+i
    return l

In [72]:
test([1,2,3,6,5,6,5],[4,5,6,])

[1, 2, 3, 6, 5, 6, 5, 4, 5, 6]

In [80]:
s = "sma"
b = "skl"
n = lambda arg1, arg2 : arg1+arg2

In [81]:
n(s,b)

'smaskl'

In [91]:
r = 5
def fun(a,b):
    '''Division of any two numbers'''
    r = a/b
    return r

In [92]:
fun(10,20)

0.5

In [93]:
help(fun)

Help on function fun in module __main__:

fun(a, b)
    Division of any two numbers

In [103]:
a = 'skdkkd'
next(a)

TypeError: 'str' object is not an iterator

In [104]:
s = iter(a);s

In [107]:
d = [1,2,3,6,5,5]
iter(d)